@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root {
    --main-color: #000000; /* bg color */
    --second-color: #ffffff; /* 2nd bg color */
    --third-color: #bbb8b8; /* rest */
    --fourth-color: #dddddd; /* text color */

    --dark-mode-bg-color: #000000;
    --dark-mode-text-color: #FFFFFF;

    --grey: #3E4149;
    --green: #00FF00;
    --red: #FF0000;
    --yellow: #FFFF00;
    --orange: #f26722;

    --button-color: #acacac;

    /* --table-bg-color: var(--grey); */
    --table-bg-color: #212121;
    --table-even-row-color: #4a4a4a;
}

*{
    font-size: 18px;
    margin:0;
    padding:0;
    font-family: "Poppins", "sans-serif";
    box-sizing: "border-box";
    /* background-color: var(--main-color); */
}

body{
    background-color: var(--second-color);
}

.pipi-button{
    color: black;
    border-radius: 0.2rem;
    background-color:var(--button-color);
    padding: 0.2rem 1rem;
    text-align: center;
}

hr{
    width: 17%;
    /*
    border-style: dotted none none none;
    border-width: 5px;
    */
    border-color: var(--third-color);
    border: dotted var(--third-color) 5px;
    border-bottom: none;
    margin: 80px auto;
}

.header{
    /* height: 15vh; */
    width: 100%;
    /* padding: 0 8%; */
    background: var(--second-color);
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 0 8%;
}

.logo{
    padding-top: 15px; /* afastar a imagem do topo do ecrã */
    width:140px;
}

.nav-links{
    padding: 28px 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    color: var(--fourth-color);
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background: var(--third-color);
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;
}