.log-out{
    background: var(--third-color);
    color: var(--fourth-color);
    padding: 10px 30px;
    border-radius: 3;
    cursor:pointer;
}

.proposal-title{
    font-size:30px;
    text-align: center;
    color: var(--fourth-color);
}

.post-title{
    text-align: center;
    font-size: 30px;
}

.content{
    padding-top: 70px;
    padding-bottom: 70px;
    display:grid;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0, var(--second-color), var(--main-color));
    /*color: var(--third-color); */
    /*background-color: var(--second-color); */
}

table{
    border-collapse: collapse;
    box-shadow: 0 5px 10px var(--third-color);
    color: var(--fourth-color);
    background-color: var(--table-bg-color);
    text-align: left;
    overflow: hidden;
}

/* isto tudo dentro da tabela?? */

table thead{
    box-shadow: 0 5px 10px var(--third-color);
}

table th{
    padding:1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

table td{
    padding:1rem 2rem;
}

table a{
    text-decoration: none;
    color: var(--third-color);
}

table .status{
    color: black;
    border-radius: 0.2rem;
    /* background-color:var(--red); */
    padding: 0.2rem 1rem;
    text-align: center;
}

table .status-unmatched{
    background-color: var(--red);
    /* color: var(--fourth-color); */
}

table .status-waiting{
    background-color: var(--yellow);
    /* color: var(--fourth-color); */
}

table .status-enrolled{
    background-color: var(--green);
    /* color: var(--fourth-color); */
}

table tr:nth-child(even){
    background-color: var(--table-even-row-color);
}

.dark-mode{
    background-color: var(--dark-mode-bg-color);
    color: var(--dark-mode-text-color);
}

#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background: #333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }
